<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FixtureSimulator.SAEquSimSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
      <FixtureSimulator.SAEquSimSettings>
            <setting name="Port" serializeAs="String">
                <value>7001</value>
            </setting>
            <setting name="DataFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="MsgIdentifier" serializeAs="String">
                <value>PortB.[0-9]+::&lt;---- : </value>
            </setting>
            <setting name="Direction" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeviceId" serializeAs="String">
                <value/>
            </setting>
            <setting name="SourceId" serializeAs="String">
                <value/>
            </setting>
            <setting name="TransId" serializeAs="String">
                <value/>
            </setting>
            <setting name="TransferProtocol" serializeAs="String">
                <value>HSMS</value>
            </setting>
            <setting name="IPAddress" serializeAs="String">
                <value>192.168.1.100</value>
            </setting>
        </FixtureSimulator.SAEquSimSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
